body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

#letter {
    font-size: 100px;
    margin: 20px;
}

#score, #lives, #time {
    font-size: 24px;
}
